:root,
#container-fluid {
  background-image: url(https://images5.alphacoders.com/110/1107810.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.ratio {
  aspect-ratio: 3/4;
  object-fit: cover;
}
#alert {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #464649;
  font-weight: 500;
  width: 100%;
}
.badge {
  cursor: pointer;
}
#nav-item {
  font-weight: 600;
  transition: 0.2s;
}
#nav-item:hover {
  color: rgb(208, 21, 255) !important;
  transition: 0.2s;
}
#custom_background {
  background-color: rgba(255, 255, 255, 0.74) !important;
}
#main {
  min-height: 75vh;
}
#profile {
  background-color: rgb(208, 21, 255) !important;
  border: none;
  padding: 0.6rem;
  box-shadow: 0px 5px 20px rgb(208, 21, 255);
}
#violet {
  color: rgb(208, 21, 255);
}
